
@media screen and (min-width: 768px) {
 	body {
    background-color: blue;
  
}
	div#large {
    font-size: 50px;
   display:block;
  }
	div#small {
    display:none;
    
  }
	div#medium {
    display:none;
    
  }
}
@media screen and (max-width: 300px) {
  body {
    background-color: red;
  }
	div#small {
    font-size: 10px;
    display:block;
  }
		div#large {
    display:none;
    
  }
	div#medium {
    display:none;
    
  }
	}
	@media screen and (min-width : 300px) and (max-width : 768px){
  body {
    background-color: green;
}
		div#medium {
    font-size: 25px;
   display:block;
  }	div#large {
    display:none;
    
  }
	div#small{
    display:none;
    
  }
		
}	
